<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ShoppingList.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:allowBackup="true" android:label="Shopping List" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
	</application>
	<application android:allowBackup="true" android:label="Lets Go Shopping" android:theme="@style/Theme.AppCompat.Light.NoActionBar">
	</application>
</manifest>